.left_nav_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  align-self: flex-start;
  min-height: 100vh;
  align-items: center;
  border-right: solid 1px var(--border-color);
  row-gap: 11rem;
}

.logo {
  font-size: x-large;
  padding-top: 1rem;
  font-weight: bold;
  color: var(--font-primary-color);
}

.logo_link {
  text-decoration: none;
}

svg {
  width: 1.6rem;
  height: 1.6rem;
}

.post_btn {
  width: 12vw;
  height: 3rem;
  border-radius: 2rem;
  font-weight: 700;
  background-color: var(--btn-background-color);
  color: var(--font-primary-color);
  font-size: 16px;
}

.functional_icon_container {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

/* .functional_icon_container:hover {
  background-color: var(--who-to-follow-background-color);
  border-radius: 1rem;
  width: 11rem;
} */

.functionality {
  font-size: 1.4rem;
  font-weight: 600;
}

.functional_container {
  width: 14rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.profile img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.profile {
  display: flex;
  column-gap: 1rem;
  padding-right: 4rem;
}

.profile_name {
  font-weight: 700;
}

.profile_email {
  color: var(--font-secondary-color);
}

.left_nav_link {
  text-decoration: none;
  color: var(--font-primary-color);
}

@media screen and (max-width: 1100px) {
  .left_nav_container {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .about_profile,
  .functionality,
  .website_name,
  .post_btn {
    display: none;
  }
  .left_nav_container {
    width: 10%;
    align-items: center;
  }
  .profile {
    padding-right: 13rem;
  }
}
