.right_nav_container {
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 40%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-left: solid 1px var(--border-color);
}

.who_to_follow {
  width: 22rem;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--who-to-follow-background-color);
}

.right_nav_input {
  margin-top: 1rem;
  width: 23rem;
  height: 2rem;
  padding: 0.3rem;
  border: none;
  border-radius: 1rem;
  color: var(--font-primary-color);
  background-color: var(--who-to-follow-background-color);
}

.who_to_follow_header {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.follow_suggestions {
  display: flex;
  padding: 0.7rem;
  justify-content: space-between;
}

.follow_btn {
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  font-weight: 600;
  border: none;
}

.follow_suggestion_name {
  font-weight: 700;
}

.follow_suggestion_username {
  color: var(--font-secondary-color);
}

.avatar_name {
  display: flex;
}

.search_result_container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    var(--font-primary-color) 0px 8px 16px -8px;
  width: 23rem;
}

.search_suggestions {
  padding-left: 2rem;
}
