.modal_container {
  position: fixed;
  top: 27vh;
  left: 45vw;
  transform: translate(-50%, -50%);
  min-height: 35%;
  width: 32vw;
  border-radius: 1rem;
  background-color: var(--body-background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  pointer-events: initial;
}

.close_btn {
  float: right;
}

.post_modal {
  justify-content: space-between;
}

.post_modal_textarea {
  background-color: var(--body-background-color) !important;
}

@media screen and (max-width: 1100px) {
  .modal_container {
    left: 65.8vw;
    width: 60vw;
  }
}

@media screen and (max-width: 700px) {
  .modal_container {
    left: 59vw;
    width: 62vw;
  }
}
