.landing_page_img_one {
  height: 25rem;
  position: absolute;
  top: 18rem;
  right: 0;
}

.landing_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.landing_page_img_two {
  height: 25rem;
  position: absolute;
  top: 18rem;
  left: 0;
}

.landing_page_content_header {
  font-size: 3.5rem;
  font-weight: 900;
}

.landing_page_content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  color: var(--font-primary-color);
  position: absolute;
  top: 12rem;
  left: 30rem;
}

.landing_page_content_paragraphs {
  display: flex;
  width: 35rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.8rem;
}

.landing_page_link {
  display: flex;
  column-gap: 1rem;
  color: var(--font-primary-color);
}

.landing_page_btn {
  padding: 0.6rem;
  background-color: var(--btn-background-color);
  font-size: medium;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.landing_page_logo {
  padding: 2rem;
}

.landing_page_login_btn {
  color: var(--font-primary-color);
}

.landing_page_btn:hover {
  text-decoration: underline;
}
