.comment_modal_container {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.comment_modal {
  row-gap: 2rem;
}

.add_comment {
  display: flex;
  column-gap: 1.5rem;
}

.comment_btn {
  background-color: var(--btn-background-color);
  color: var(--font-primary-color);
  height: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.close_btn {
  margin-left: auto;
}
